<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  
  <p>Hello <%= @user.first_name %>,</p>
  
  <p>We would like to inform you that for</p>
  
  <p>Notification Details:</p>
  <ul>
    <li><strong>Title:</strong> <%= @notification.title %></li>
    <li><strong>Content:</strong> <%= @notification.content %></li>
    <li><strong>Sent At:</strong> <%= @notification.sent_at %></li>
  </ul>
  
  <p>Please visit our website.</p>
  
  <p>Thank you for being our valued customer!</p>
</body>
</html>
