<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style type="text/css">
    /* Add your styling here */
  </style>
</head>
<body>
  <h2>Authentication OTP</h2>
  <%= @user.otp_secret_key%>
</body>
</html>