<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style type="text/css">
  </style>
</head>
  <body>
  <p>Hello <%= @user.email %>!</p>

  <p>Someone has requested a link to change your password. You can do this through the link below.</p>
  <p><a href="http://ec2-18-225-54-114.us-east-2.compute.amazonaws.com/reset-password/<%= @token%>">Change my password</a></p>

  <p>If you didn't request this, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>
</body>
